html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Malaparte Media

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="apple-touch-icon", href="apple-touch-icon.png")

    link(rel="stylesheet", href="css/style.css")
    
    script(type='text/javascript').
      (function(d) {
        var config = {
          kitId: 'see8qmj',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

  body
    header
      h1.pagetitle
        span Malaparte
        span Media
      
    block content

    footer
      h1 Social:
      ul.social-wrapper
        li.social-item
          a(href="https://facebook.com/malapartemedia") 
            span.visuallyhidden Facebook
            svg.social-icon
              use(xlink:href="/images/sprite.svg#fb")
            
        li.social-item
          a(href="https://soundcloud.com/malapartemedia")
            span.visuallyhidden Soundcloud
            svg.social-icon
              use(xlink:href="/images/sprite.svg#sc")
        li.social-item
          a(href="https://twitter.com/malapartemedia")
            span.visuallyhidden Twitter
            svg.social-icon
              use(xlink:href="/images/sprite.svg#tw")
